* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Didact Gothic', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
}
ul {
  list-style-type: none;
}

.orange-link {
  background-color: #FF8F73;
  color: white;
  display: inline-block;
  padding: 13px 20px;
  border-radius: 5px;
}
.fa-check-circle {
  color: #FF8F73;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*--------------- HEADER -------------- */
/* ---- NAVBAR 1 SUPERIORE ---- */
.nav1-wrapper {
  background-color: #33475B;
  border-top: 3px solid #FF8F73;
  font-size: 12px;
}
.nav1 {
  width: 85%;
  margin: auto;
  padding: 5px 0;
}
.nav1 i {
  color: white;
}
/* Navbar 1 SX */
.nav1 li {
  float: left;
  margin-top: 8px;
}
.nav1 li a , #user-menu {
  color: white;
  margin-left: 15px;
}
#user-menu {
  display: inline-block;
  padding-top: 5px;
}
/* Navbar 1 DX */
.nav1-dx {
  float: right;
  width: 80px;
  border-bottom: 5px;
  text-align: center;
}
.nav1-dx:nth-of-type(4) {
  border-right: 1px solid #FF8F73;
}
#favicon {
  height: 35px;
  float: left;
}

/* ---- NAVBAR 2 SUPERIORE ---- */
.nav2-wrapper {
  background-color: #E2E2E2;
}
.nav2 {
  width: 80%;
  margin: auto;
  padding: 15px 0;
}
#user-small {
  float: left;
}
.nav2-left {
  float: left;
  padding: 0 10px;
  margin-top: 10px;
}
.nav2-left a {
  color: #33475B;
}
.nav2-left:nth-of-type(2) {
  border-right: 2px solid #33475B;
}
.nav2-right {
  float: right;
}
#hubspotFree {
    background-color: #FF7A59;
    color: white;
    display: inline-block;
    padding: 7px 25px;
    border: 2px solid black;
}
.nav2-right i {
  color: #33475B;
}
/* ---- NAVBAR 3 SUPERIORE ---- */
.nav3-wrapper {
  background-color: #FFF;
  padding: 10px 0;
}
.nav3 {
  margin: auto;
  width: 80%;
  padding: 10px 0;
  text-align: center;
}
.nav3-left {
  float: left;
}
.nav3-right {
  float: right;
  width: 7%;
  padding-top: 10px;
}
.nav3 a {
  color: #33475B;
}

/* -------- FINE HEADER--------- */
/* ----------------------------- */
/* -------- TOP SECTION -------- */
.topS-wrapper {
  height: 700px;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.topS-con {
  margin-left: 10%;
  width: 25%;
  padding-top: 100px;
}
#topSlink {
  background-color: #E6F4F7;
  color: #4B8CA8;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
}

/* -------- SECTION 1 -------- */
.sec1-wrapper {
  background-color: #F4F8FA;
}
.sec1-con {
  width: 70%;
  margin: auto;
}
.sec1b , .sec1c-col {
  background-color: white;
}
.sec1b , .sec1c {
  margin: 20px 0;
}
.sec1b , .sec1c-col {
  padding: 20px;
}
.sec1a {
  margin: auto;
  width: 75%;
  text-align: center;
  padding: 60px 0;
}
.sec1a img {
  height: 200px;
}
.sec1b-right {
  float: right;
}
.sec1b-right:first-child {
  margin-left: 10%;
  width: 60%;
}
.sec1b-right:last-child {
  text-align: center;
}
#book-img {
  height: 150px;
  display: block;
}
#h4in h4 {
  display: inline;
}
/* sec 1c */
.sec1c {
  text-align: center;
}
.sec1c img {
  height: 175px;
}
.sec1c-col {
  float: left;
  width: 27.33%;
}
.sec1c-midcol {
  margin: 0 9%;
}
.sec1c hr {
  border-top: 2px solid black;
}

/* -------- SECTION 2 contain sec2a sec2b */
.sec2-wrapper {
  background-color: #00BAA7;
  color: white;
  text-align: center;
}
.sec2a {
  margin: auto;
  width: 65%;
  padding: 40px 0;
}
.sec2b {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}
.sec2-rowCol {
  float: left;
  width: 25%;
  padding: 20px 0;
  border-right: 1px solid;
}
.sec2-row1 .sec2-rowCol {
  border-bottom: 2px solid;
}
.sec2-rowCol:last-child {
  border-right: none;
}
