* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Didact Gothic', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
}
ul {
  list-style-type: none;
}

.orange-link {
  background-color: #FF8F73;
  color: white;
  display: inline-block;
  padding: 13px 20px;
  border-radius: 5px;
}
.fa-check-circle {
  color: #FF8F73;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*--------------- HEADER -------------- */
/* ---- Header 1 SUPERIORE ---- */


.head1-wrapper {
  background-color: #33475B;
  border-top: 3px solid #FF8F73;
  font-size: 12px;
}
.head1 {
  width: 85%;
  margin: auto;
  padding: 5px 0;
}
/* Header 1 SX */
#head1-logo {
  float: left;
}
.head1 nav, .head1 li {
  float: left;
}

.head1 i, #user-menu i {
  color: white;
}
.head1 li {
  margin-top: 10px;
  padding-left: 30px;
}
.head1 li a {
  color: white;
}

/* Header 1 DX */
.head1-dx {
  float: right;
  width: 22%;
}
.head1-dx .col {
  float: left;
  width: 25%;
  line-height: 35px;
  text-align: center;
}
.head1-dx .col:nth-of-type(2) {
  border-right: 1px solid #FF8F73;
}
.head1-dx .col:nth-last-of-type(1n+2) a i {
  color: black;
  font-size: 1.3em;
}
#user-menu {
  color: white;
}

/* ---- Header 2 SUPERIORE ---- */
.head2-wrapper {
  background-color: #E2E2E2;
}
.head2 {
  width: 80%;
  margin: auto;
  padding: 15px 0;
  font-size: 1.1em;
}

.head2 nav , .head2 nav li {
  float: left;
}
.head2 li a, .head2-right i {
  color: #33475B;
}
.head2 li {
  margin-top: 10px;
  padding: 0 10px;
}
.head2 li:first-child {
  border-right: 2px solid #33475B;
}
/* Head 2 Right */
.head2-right {
  float: right;
}
#hubspotFree {
    background-color: #FF7A59;
    color: white;
    display: inline-block;
    padding: 5px 30px;
    border: 2px solid black;
}

/* ---- Header 3 SUPERIORE ---- */
.head3-wrapper {
  background-color: #FFF;
}
.head3 {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 1.1em;
  padding: 15px 0;
}
.head3-logo {
  float: left;
}
.head3 nav {
  float: right;
  margin-top: 5px;
}
.head3 nav li {
  float: left;
  padding-left: 20px;
}
.head3 a {
  color: #33475B;
}

/* -------- FINE HEADER--------- */
/* ----------------------------- */
/* -------- TOP SECTION -------- */
.topS-wrapper {
  height: 700px;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.topS-con {
  margin-left: 10%;
  width: 25%;
  padding-top: 100px;
}
#topSlink {
  background-color: #E6F4F7;
  color: #4B8CA8;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
}

/* -------- SECTION 1 -------- */
.sec1-wrapper {
  background-color: #F4F8FA;
}
.sec1-cont {
  width: 70%;
  margin: auto;
}

.sec1a {
  margin: auto;
  width: 75%;
  text-align: center;
  padding: 60px 0;
}
.sec1a img {
  height: 200px;
}
/* Section 1b */
.sec1b-dx {
  float: right;
}
.sec1b , .sec1c-col {
  background-color: white;
}
.sec1b , .sec1c {
  margin: 20px 0;
}
.sec1b , .sec1c-col {
  padding: 20px;
}
.sec1b-dx:first-child {
  margin-left: 10%;
  width: 60%;
}
.sec1b-dx:last-child {
  text-align: center;
}
#book-img {
  height: 150px;
  display: block;
}
#h4inl h4 {
  display: inline;
}

/* sec 1c con regole su sec 1b*/
.sec1c {
  text-align: center;
}
.sec1c img {
  height: 175px;
}
.sec1c-col {
  float: left;
  width: 27.33%;
}
.sec1c-midcol {
  margin: 0 9%;
}
.sec1c hr {
  border-top: 2px solid black;
}

/* -------- SECTION 2 ------------- */
.sec2-wrapper {
  background-color: #00BAA7;
  color: white;
  text-align: center;
}
.sec2A {
  margin: auto;
  width: 65%;
  padding: 40px 0;
}
.sec2B {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}
.sec2-col {
  float: left;
  width: 25%;
  padding: 20px 0;
  border-right: 1px solid;
}
.sec2-row1 .sec2-col {
  border-bottom: 2px solid;
}
.sec2-col:last-child {
  border-right: none;
}

/* -------- SECTION 3 ------------- */
.sec3-cont {
  width: 75%;
  margin: auto;
  margin-bottom: 100px;
}
.sec3A {
  margin: 100px 0;
}
.sec3A-sx, .sec3A-dx, .sec3A-col  {
  float: left;
}
.sec3A-sx {
  width: 40%;
}
.sec3A-dx {
  width: 60%;
  margin-top: 40px;
}
.sec3A-col {
  width: 25%;
}
/* sec 3b */
.sec3B-sx, .sec3B-dx {
  float: left;
}
.sec3B-sx {
  width: 50%;
}
.sec3B-dx {
  background-color: #F8B566;
  border-radius: 50%;
  width: 300px;
  text-align: center;
  margin-left: 10%;
}
.sec3B-dx img {
  height: 300px;
}

/* ----------- FOOTER ---------------- */
